.OnboardingWrapper {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.OnboardingHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.OnboardingHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OnboardingHeaderContent h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.OnboardingHeaderContent p {
    font-size: 16px;
    color: rgb(76, 76, 76);
}

.OnboardingHeaderContent span {
    color: #7d5ffe;
}

.OnboardingHeaderDots {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.headerDots {
    width: 80px;
    background-color: #7d5ffe;
    border-radius: 20px;
    height: 10px;
    margin-right: 10px;
}

.OnboardingInformationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.OnboardingGenarelInformation {
    margin-top: 30px;
}

.OnboardContactTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OnboardContactTitle h6 {
    margin-bottom: 0px;
}

.OnboardContactTitle p {
    width: 25%;
    height: 30px;
    background-color: #7d5ffe;
    border: none;
    color: white;
    outline: none;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.OnboardingGenarelInformation h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color:rgb(52, 52, 52);
}

.OnboardingInputWrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.OnboardingLogoInputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.OnboardingInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.OnboardingAddressInputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

.OnboardingLogoInputs img {
    height: 80px;
    width: 80px;
    border: 1px solid 12px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.OnboardingInput {
    display: flex;
    flex-direction: column;
    
}

.OnboardingInput label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgb(165, 0, 0);
    margin-bottom: 5px;
    box-shadow: none !important;
}

.OnboardingInput small {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    color: black;
    margin-bottom: 5px;
    box-shadow: none !important;
    cursor: pointer;
}

.OnboardingInput label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: black;
    margin-bottom: 5px;
    box-shadow: none !important;
}

.OnboardingInput input {
    height: 40px;
    outline: none;
    border: 1px darkgray;
    border-radius: 6px;
    font-size: 16px !important;
    padding: 0 10px;
}

.OnboardingBtn {
    width: 30%;
    height: 50px;
    background-color: #7d5ffe;
    border: none;
    color: white;
    outline: none;
    text-align: center;
    justify-content: center;
}

.onboardingLogoUploadBtn {
    padding: 4px 15px;
    width: 120px;
    height: 30px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    line-height: 22px;
    border: none;
    font-style: normal;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: #7d5ffe;
    text-align: center;
}


.OnboardingModalTitle {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--darkGray);
}

.OnboardingModal {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.OnboardingModalItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 209, 255);
    width: 100%;
    height: 80px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}

.OnboardingModalItem:hover {
    background-color: rgb(136, 209, 255, 0.8);
}

.OnboardingModalItem img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



